/* You can add global styles to this file, and also import other style files */
body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  // display: flex;
  // justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}